<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
    <style>
        .item {
            background: red
        }
    </style>
</head>
<body>
    <div id="app">
        hello world, {{msg}}
        <div>
            <input type="text" v-model="info">
            <button v-on:click="handlerClick">add</button>
        </div>
        <ul>
            <todo-item v-for="item in list" v-bind:item="item"></todo-item>
        </ul>
    </div>




    <script>
        Vue.component('todo-item', {
            template: '<li class="item">{{item}}</li>',
            props: ['item']
        })
        new Vue({
            el: '#app',
            data() {
                return {
                    msg: 'hahahah',
                    info: '',
                    list: [1]
                }
            },
            methods: {
                handlerClick: function() {
                    this.list.push(this.info)
                }
            }
        })
    </script>
</body>
</html>
